@media only screen and (min-width: 992px) {

    .bar .cart {
        margin-right: 10%;
        right: 3px;
    }

    .mini-cart {
        right: 10%;
        width: 20%;
    }


    .product {
        gap: 4em;
        max-width: 80%;
    }
}